html {
  min-height: 100%;
}
body {
  background-image: url("bg/conventioncenter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  color: white;
}
h1 {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: bold;
}
h2 {
  text-transform: uppercase;
  margin: auto;
  font-size: 26px;
  font-weight: bold;
}
p {
	padding-top: 13px;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
}
.info {
  padding: 24px;
  font-size: 20px;
  text-align: center;  
}
.title {
  margin-bottom: 20px;
}
.register {
  display: flex;
  flex-direction: column;
}
.check {
  margin-bottom: 12px;
  vertical-align: middle;
}
label {
  margin-bottom: 7px;
  vertical-align: middle;
}
form {
  padding: 23px;
  background: black;
  opacity: 0.9;
}
input {
  padding: 5px;
  margin-bottom: 30px;
}

select {
  padding: 5px;
  margin-bottom: 30px;
}
#submit {
  color: white; 
  font-size: 20px;
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  background: #dc3232;
  border: none;
  border-radius: 5px; 
  
}
#submit:hover {
  background: #f46c6c;
}
@media screen and (max-width: 649px) {
form {
	width:100%;
}
.register {
	width: 100%;
}
}
@media (min-width: 650px) {
	/*float text to left*/
	html{
	height: 100%
	}
	body{
	height: 100%
	}
	.main {
  	flex-direction: row;
	height: calc(100% - 50px);
	}
	.info {
	flex: 1 30px;
    height: auto;	
	}
	p {
	padding-top: 10px;
	}
}
@media (min-width: 1000px) {
	/*float text to left*/
	html{
	height: 100%
	}
	body{
	height: 100%
	}
	.main {
  	flex-direction: row;
	height: calc(100% - 50px);
	padding-right: 16%;
	padding-left: 10%;
	}
	.info {
	flex: 1 30px;
    height: auto;	
	}
	p {
	padding-top: 10px;
	}
}