html {
  min-height: 100%;
}
body {
  background-image: url("bg/conventioncenter.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
}
h1 {
	
}
h2 {
	
}
.main {
	
}
.info {
	
}
.title {
	
}
.register {
	
}
.check {
	
}
button {
	
}

@media (min-width: 600px) {
	
}